image:
  repository: registry.cn-hangzhou.aliyuncs.com/duc-cnzj/mars
  pullPolicy: Always
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  annotations: {}

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  # if type eq "NodePort", nodePort works!
  # nodePort: 

ingress:
  enabled: false
  # className: ""
  annotations:
    kubernetes.io/ingress.class: nginx
    kubernetes.io/tls-acme: "true"
  hosts:
    - host: mars.k8s.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

persistent:
  storageClassName: ""
  enabled: true
  storage: 10Gi

conf: 
  debug: false
  profile_enabled: false
  log_channel: "zap"

  # 'sqlite' or 'mysql'
  db_driver: 'sqlite'
  # if 'mysql' All of the following are required
  db_database: mars
  db_host: xx.xx.xx.xx
  db_port: 3306
  db_username: root
  db_password: ""

  install_timeout: 90s

  wildcard_domain: "*.test.local"
  cluster_issuer: ""
  external_ip: "xx.xx.xx.xx"

  gitlab_token: ""
  gitlab_baseurl: "https://gitlab.com/api/v4"

  imagepullsecrets:
    - username: "jack"
      password: "12345"
      email: "jack@example.com"
      server: "registry.cn-hangzhou.aliyuncs.com"